* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.btn {
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 4px 0 0;
    font-weight: normal;
    padding: none;
}

.text-bold {
    font-weight: bold;
}

.btn--green {
    background-color:#61BD4F;
}

.btn--blue {
    background-color:#6D8EA2;
}

.btn--transparent {
    background-color: transparent;
}

.btn--white {
    background-color: #fff;
}

body {
    margin: 0;
    font-family: "Charlie Text",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

h2 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

input {
    border-radius: 5px;
    border: none;
}

header {
    margin: 0;
    padding: 0;
}

.head p {
    font-size: 1.5625rem;
    font-weight: 300;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding: none;
}

.gradient--dark {
    background-image: linear-gradient(180deg, #42548e 0%, #6b668c 100%);
}

.gradient--medium {
    background-image: linear-gradient(135deg, #0079bf, #5067c5);
}

.gradient--light {
    background-image: linear-gradient(135deg, #3EB9DE, #3A80DE);
}

.text--white {
    color: #fff;
}

.text--lightBlue {
    color:#0079bf;
}

.text--blue {
    color:#172B4D;
}

.padding--top--md {
    padding-top: 15px;
}

.padding--top--sm {
    padding-top: 10px;
}

.padding--right--md {
    padding-right: 15px;
}

.padding--left--sm {
    padding-left: 5px;
}

.padding--left--md {
    padding-left: 10px;
}

.margin--right--xl {
    padding-right: 100px;
}

.margin--top--xl {
    padding-top: 50px;
}

.margin--bottom--xl {
    padding-bottom: 50px;
}

.padding--bottom--md {
    padding-bottom: 15px;
}

.margin--bottom--sm {
    margin-bottom: 10px;
}
.margin--left--sm {
    margin-left: 10px;
}

.margin--bottom--md {
    margin-bottom: 15px;
}

.padding--all-sm {
    padding: 10px;
}

.padding--header {
    padding: 3px;
}

.padding--all-xs {
    padding: 6px;
}

.padding--all-md {
    padding: 20px;
}

.padding--all-xl {
    padding: 50px;
}

.padding--y--sm {
    padding-top: 6px;
    padding-bottom: 6px;
}

.padding--y--md {
    padding-top: 8px;
    padding-bottom: 8px;
}

.padding--x--sm {
    padding-left: 4px;
    padding-right: 4px;
}

.padding--x--md {
    padding-left: 12px;
    padding-right: 12px;
}

.padding--x--xl {
    padding-left: 400px;
    padding-right: 400px;
}

.display-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.row-block {
    flex-direction: row;
}

.margin--body {
    margin-left: 20%;
    margin-right: 20%;
}

.padding--body{
    padding-left: 20%;
    padding-right: 20%;
}

.align-center {
    align-items: center;
}

.column-block {
    flex-direction: column;
}

.border-radius--sm {
    border-radius: 5px;
}

.border-radius--md {
    border-radius: 10px;
}

.background--medium-blue {
    background-color: rgba(11,86,139,0.25);
}

.text-bold {
    font-weight: bold;
}

.background--white {
    background-color: #ffffff;
}

.background--card {
    background-color: #ebecf0;
}

.tag {
    width: 30px;
    height: 7px;
}

.tag--blue {
    background-color: #00C2E0;
}

.tag--red {
    background-color: #EB5A46;
}

.tag--purple {
    background-color: #C377E0;
}

.size--full {
    width: 100%;
}

.size--half {
    width: 50%;
}

.input-size {
    width: 144px;
}

.size--logo {
    height: 50px;
}

.size--logo--sm {
    height: 45px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.board-color--background {
    background-color: #00aecc;
}

.board-color--button--header {
    background-color: #4db4c6;
}
.board-color--button {
    background-color: #52c8dc;
}

.board-color--header {
    background-color: #0094ae;
}

.stretch {
	align-items: stretch;
}

.icon--md {
    width: 20px;
}

.icon--sm {
    width: 16px;
}

.full-height {
    height: 100%;
}

.avatar {
    vertical-align: middle;
    border-radius: 50%;
}

.avatar--md {
    width: 32px;
    height: 32px;
}

.avatar--sm {
    width: 28px;
    height: 28px;
}